<div>
  <h3>data grid</h3>
  <ngx-data-grid matPopoverGroup [dataSource]="data" [columns]="columns" [rows]="rows" cellClass="cell" rowClass="row"
    gridClass="grid">

    <ng-template #ngxDataGridActions let-column>
      <div style="height: 100%; width: 100%; background: white;"></div>
    </ng-template>

    <ng-template #ngxDataGridColumnHeader let-column>
      <div style="line-height: 50px; text-align: center; font-weight: bold; background: #f1f1f1; color: #888">
        {{ column }}
      </div>
    </ng-template>

    <ng-template #ngxDataGridRowHeader let-row>
      <div style="line-height: 50px; text-align: center; font-weight: bold; background: #f1f1f1; color: #888">
        {{ row }}
      </div>
    </ng-template>

    <ng-template #ngxDataGridCell let-item>
      <div #cell style="line-height: 50px; text-align: center;" [ngClass]="{'clicked': cell.clicked}"
        (popoverClicked)="cell.clicked = $event" [matPopover]="popoverComponent" matPopoverSourceClickable
        [matPopoverData]="item" matPopoverPosition="right" matPopoverShowDelay="200" matPopoverDisableHover>
        {{ item.text }}
      </div>
    </ng-template>

    <ng-template #ngxDataGridCellEmpty>

    </ng-template>

  </ngx-data-grid>
</div>